{% extends 'base.html.twig' %}

{% block content %}
	<div class="p-4 h-auto">
		<div class="container container-fluid mx-auto">
			<h1 class="font-bold text-xl uppercase text-center mt-8">Un Pokémon approche  !</h1>
			<div class="flex mt-8 items-center justify-center">

				<div class="w-1/2 text-center flex items-center justify-center">
					<img class="w-1/3 slide-in" src="{{ randomPokemon.sprites.regular }}">
				</div>

				<div class="w-1/2 text-center flex flex-col items-center">
					<h2 class="font-bold text-2xl relative">
						{{ randomPokemon.name.fr|upper }}
					</h2>
					<div class="mt-2 flex justify-center space-x-4">
						{% if randomPokemon.types|length == 1 %}
							<span class="badge bg-gray-700 text-amber-400  px-4 py-1 rounded">
								{{ randomPokemon.types[0].name|upper }}
							</span>
						{% else %}
							{% for type in randomPokemon.types %}
								<span class="badge bg-gray-700 text-amber-400  px-4 py-1 rounded">
									{{ type.name|upper }}
								</span>
							{% endfor %}
						{% endif %}
					</div>

					<div class="flex w-full justify-between mt-6">
						<div class="w-1/2">
							<p class="inline-block text-center bg-gray-700 text-amber-400 font-bold rounded py-2 px-8">
								{{ randomPokemon.weight|upper }}</p>
						</div>
						<div class="w-1/2">
							<p class="inline-block text-center bg-gray-700 text-amber-400 font-bold rounded py-2 px-8">
								{{ randomPokemon.height|upper }}</p>
						</div>
					</div>

					{% if randomPokemon.evolution %}
						<div class="flex w-full justify-between mt-6">
							{% set preEvolutions = randomPokemon.evolution.pre|length %}
							{% set nextEvolutions = randomPokemon.evolution.next|length %}

							{% if preEvolutions > 0 %}
								<div class="w-{{ nextEvolutions == 0 ? 'full' : '1/2' }} text-center">
									{% set evolutions = [] %}
									{% for before in randomPokemon.evolution.pre %}
										{% set evolutions = evolutions | merge([before.name]) %}
									{% endfor %}
									<p class="inline-block bg-gray-700 text-amber-400 rounded py-2 px-8 mt-6">
										Evolution de :
										{{ evolutions | join(' et ') }}
									</p>
								</div>
							{% endif %}

							{% if nextEvolutions > 0 %}
								<div class="w-{{ preEvolutions == 0 ? 'full' : '1/2' }} text-center">
									{% set evolutions = [] %}
									{% for after in randomPokemon.evolution.next %}
										{% set evolutions = evolutions | merge([after.name]) %}
									{% endfor %}
									<p class="inline-block bg-gray-700 text-amber-400 rounded py-2 px-8 mt-6">
										Evolue en :
										{{ evolutions | join(' puis en ') }}
									</p>
								</div>
							{% endif %}
						</div>
					{% endif %}

					<table class="mt-6 mx-auto text-sm border-collapse border border-gray-500 w-full">
						<thead>
							<tr>
								<th class="border border-gray-500 p-4">PV</th>
								<th class="border border-gray-500 p-4">ATK</th>
								<th class="border border-gray-500 p-4">DEF</th>
								<th class="border border-gray-500 p-4">ATK_SPE</th>
								<th class="border border-gray-500 p-4">DEF_SPE</th>
								<th class="border border-gray-500 p-4">VIT</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.hp}}</td>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.atk}}</td>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.def}}</td>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.spe_atk}}</td>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.spe_def}}</td>
								<td class="border border-gray-500 p-4 font-bold">{{randomPokemon.stats.vit}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
