{% extends 'base.html.twig' %}

{% block content %}
	<div class="p-4 h-auto">
		<div class="container container-fluid mx-auto">
			<h1 class="font-bold text-xl uppercase text-center mt-8">Poké-randoms</h1>
			<div class="flex flex-wrap -mx-2">
				{% for pokemon in randomPokemons %}

					{% set types = [] %}
					{% for type in pokemon.types %}
						{% set types = types|merge([type.name|lower]) %}
					{% endfor %}


					{% if pokemon.pokedex_id > 0 %}
						<div class="w-full md:w-full lg:w-1/3 px-2 mt-8 text-center justify-center">
							<div class="p-4 border rounded border-slate-700 shadow-md">
								<h2 class="text-xl font-bold mt-2">{{ pokemon.name.fr|upper }}</h2>
								<div class="mt-2 flex justify-center items-center">
									{% if pokemon.types|length == 1 %}
										<img class="custom-width-1 inline" src="{{ pokemon.types[0].image }}" title="{{ pokemon.types[0].name }}">
									{% else %}
										{% for image in pokemon.types %}
											<img class="custom-width-2 inline {{ loop.last ? '' : 'mr-4' }}" src=" {{ image.image }} " title=" {{image.name}} ">
										{% endfor %}
									{% endif %}
								</div>
								<a href="{{path('app_pokemon_details', {"id" : pokemon.pokedex_id})}}">
									<img src="{{ pokemon.sprites.regular }}" alt="{{ pokemon.name.fr }}" class="w-1/2 h-auto mx-auto">
								</a>
								<p class=" bg-gray-700 text-amber-400 rounded py-2 mb-4 mt-6 uppercase font-semibold">Pokedex n°
									{{pokemon.pokedex_id}}
									- Gen.
									{{pokemon.generation}}
								</p>
								<p class=" bg-gray-700 text-amber-400 rounded py-2 mt-6 font-semibold">
									{{ pokemon.weight|upper }}
									-
									{{ pokemon.height|upper }}
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
