{% extends 'base.html.twig' %}

{% block content %}
	<div class="p-4">
		<div class="container mx-auto">
			<h1 class="font-bold text-xl uppercase text-center mt-8">3 Pokémons aléatoires apparaissent !</h1>
			<div class="flex flex-wrap mx-2 justify-between">
				{% for pokemon in randomPokemons %}
					<div class="w-full lg:w-1/4 px-2 mt-8 text-center justify-center">
						<div class="p-2 border-dashed border-2 border-red-500 rounded">
							<h2 class="text-xl font-bold mt-2">{{ pokemon.name }}</h2>
							<div class="my-2 flex justify-center items-center">
								<div class="flex">
									{% for type in pokemon.types %}
										<div data-controller="popover" class="relative" data-action="mouseenter->popover#show mouseleave->popover#hide">
											<a href="{{path('app_pokemon_type', {'type' : type.name })}}">
												<img class="w-8 h-auto inline-block mr-3 rounded-lg" src="{{ type.image }}" alt="{{ type.name }}" fetchpriority="high">
												<template data-popover-target="content">
													<div data-popover-target="card" class="max-w-sm rounded-lg shadow-lg bg-white absolute left-0 bottom-10">
														<turbo-frame loading="lazy" id="type--{{ type.name }}" target="_top" src="{{ path('app_type_show_card', { 'type': type.name }) }}" data-skip-transition>
															<div class="p-5">
																<svg xmlns="http://www.w3.org/2000/svg" class="animate-spin" width="18" height="18" viewbox="0 0 18 18" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
																	<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
																	<path d="M12 3a9 9 0 1 0 9 9"></path>
																</svg>
															</div>
														</turbo-frame>
													</div>
												</template>
											</a>
										</div>
									{% endfor %}
								</div>
							</div>
							<a href="{{ path('app_pokemon_details', {'name': pokemon.name}) }}">
								<img src="{{ pokemon.spriteRegular }}" alt="{{ pokemon.name }}" class="w-1/2 h-auto mx-auto" fetchpriority="high">
							</a>
							<p class="bg-gray-700 text-amber-400 rounded py-2 px-4 my-6 uppercase lg:w-1/2 mx-auto text-center">
								N°{{ pokemon.pokedexId }}
								<a href="{{ path('app_pokemon_gen', {'generation': pokemon.generation}) }}">
									-
									<span class="underline">
										Gen.
										{{ pokemon.generation }}
									</span>
								</a>
							</p>
							<p class="bg-gray-700 text-amber-400 rounded py-2 px-4 my-6 uppercase lg:w-1/2 mx-auto text-center">
								{{ pokemon.weight|upper }}
								-
								{{ pokemon.height|upper }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="w-full flex justify-center my-10 lg:mt-[55px]">
				<a href="{{ path('app_pokemons') }}" class="bg-red-500 text-white rounded p-4 font-semibold uppercase inline-block text-center">
					Voir tous les Pokémons
				</a>
			</div>
		</div>
	</div>
{% endblock %}
