{% extends 'base.html.twig' %}

{% block content %}
	<div class="bg-red-600 p-4 min-h-screen flex flex-col">
		<div class="container  mx-auto text-center flex-grow">
			<div class="bg-white p-4 mt-4 mb-8 rounded-md">
				<h1 class="uppercase font-bold text-4xl mt-8">{{ pokemon.name }}</h1>
				{#CV POKEMON #}
				<div class="flex justify-center mt-[45px]">
					<div class="border border-dashed border-black shadow-md px-10 pr-4 pl-3 rounded flex w-full md:w-1/2 lg:w-2/3 items-center">
						<div class="w-1/3 justify-center hidden md:block lg:block">
							<img class="w-1/4 h-auto mx-auto" src="{{ asset('/img/pokeFact.png') }}" fetchpriority="high" alt="Icône PokéFact">
						</div>
						<div class="w-full md:w-2/3 lg:w-2/3 ml-2 sm:w-full lg:text-lg md:text-base sm:text-sm text-center">
							<p class="mt-2 mb-2">
								{{pokemon.name}}
								est un Pokémon de type
								{% for type in pokemon.types %}
									<strong>{{ type.name }}</strong>
									{% if not loop.last %}
										/
									{% endif %}
								{% endfor %}
								appartenant à la
								<a href="{{ path('app_pokemon_gen', {'generation': pokemon.generation}) }}">
									<span class="font-bold underline">Gen.
										{{ pokemon.generation }}
									</span>
								</a>
							</p>
						</p>
						<p class="mt-2 mb-2">Il possède
							{% if pokemon.talent|length > 1 %}
								les talents
							{% else %}
								le talent
							{% endif %}
							{% for talent in pokemon.talent %}
								<strong>{{talent.name}}</strong>
								{% if not loop.last %}
									,
								{% endif %}
							{% endfor %}
						</p>
						{% if evolutions.preEvolution1 is not null or evolutions.preEvolution2 is not null
						or evolutions.nextEvolution1 is not null or evolutions.nextEvolution2 is not null
						 %}
							<p class="mt-2 mb-2">
								Ce Pokémon est
								<strong>évolutif !</strong>
								{% if evolutions.preEvolution1 is not null or evolutions.preEvolution2 is not null %}
									Il est l'évolution de
									{% if evolutions.preEvolution1 is not null %}
										<strong>
											<a class="underline" href="{{path('app_pokemon_details', {"name" : evolutions.preEvolution1.name})}}">
												{{ evolutions.preEvolution1.name }}
											</a>
										</strong>
									{% endif %}
									{% if evolutions.preEvolution2 is not null %}
										{% if evolutions.preEvolution1 is not null %}
											et de
										{% endif %}
										<strong>
											<a class="underline" href="{{path('app_pokemon_details', {"name" : evolutions.preEvolution2.name})}}">
												{{ evolutions.preEvolution2.name }}
											</a>
										</strong>
									{% endif %}
								{% endif %}
							</p>

							{% if evolutions.nextEvolution1 is not null or evolutions.nextEvolution2 is not null %}
								<p class="mt-2 mb-2">
									Son évolution suivante est
									{% if evolutions.nextEvolution1 is not null %}
										<strong>
											<a class="underline" href="{{path('app_pokemon_details', {"name" : evolutions.nextEvolution1.name})}}">
												{{ evolutions.nextEvolution1.name }}
											</a>
										</strong>
									{% endif %}
									{% if evolutions.nextEvolution2 is not null %}
										{% if evolutions.nextEvolution1 is not null %}
											puis
										{% endif %}
										<strong>
											<a class="underline" href="{{path('app_pokemon_details', {"name" : evolutions.nextEvolution2.name})}}">
												{{ evolutions.nextEvolution2.name }}
											</a>
										</strong>
									{% endif %}
								</p>
							{% endif %}

							{% if evolutions.isMegaEvolution %}
								<p class="mt-2 mb-2">
									La légende raconte même qu'il peut
									<strong>méga-évoluer !</strong>
								</p>
							{% endif %}
						{% else %}
							<p class="mt-2 mb-2">
								Ce Pokémon ne possède pas d'évolution
							</p>
						{% endif %}

					</div>
				</div>
			</div>

			<div class="flex flex-wrap mt-4 justify-center items-center">
				<div class="w-full md:w-1/4 flex justify-center items-center mb-4 md:mb-0 md:ml-8">
					<img src="{{ pokemon.spriteRegular }}" alt="Pokemon Image" class="w-2/3 h-auto md:w-full" fetchpriority="high">
				</div>
				<div class="w-full md:w-1/3 ml-4 mt-2 flex justify-center items-center">
					{{ render_chart(chart) }}
				</div>
			</div>

			<div class="flex flex-wrap justify-center md:space-x-10 lg:space-x-10 my-11">
				{% if pokemon.spriteShiny %}
					<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
						<h2 class="font-bold text-xl mt-4">Forme Shiny</h2>
						<img class="w-2/3h-auto mt-4 mb-4" src="{{ pokemon.spriteShiny }}" alt="Shiny Pokemon Image" fetchpriority="high">
					</div>
				{% endif %}

				{% if pokemon.spriteGmax %}
					<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
						<h2 class="font-bold text-xl mt-4">Forme GMAX</h2>
						<img class="w-2/3 h-auto mt-4 mb-4" src="{{ pokemon.spriteGmax }}" alt="GMAX Pokemon Image" fetchpriority="high">
					</div>
					<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
						<h2 class="font-bold text-xl mt-4">Forme GMAX Shiny</h2>
						<img class="w-2/3 h-auto mt-4 mb-4" src="{{ pokemon.spriteGmaxShiny }}" alt="Shiny GMAX Pokemon Image" fetchpriority="high">
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
