{% extends 'base.html.twig' %}

{% block content %}
	<div class="bg-red-500 p-4 min-h-screen flex flex-col">
		<div class="container container-fluid mx-auto text-center flex-grow">
			<div class="bg-white p-4 mt-4 mb-8 rounded-md">
				<h1 class="uppercase font-bold text-4xl mt-8">{{ pokemon.name.fr }}</h1>
				{#CV POKEMON #}
				<div class="flex justify-center mt-[45px]">
					<div class="border border-dashed border-black shadow-md px-10 py-4 rounded flex w-full md:w-1/2 lg:w-2/3 items-center">
						<div class="w-1/3 justify-center hidden md:block lg:block">
							<img class="w-1/3 mx-auto" src="{{ asset('/img/pokeFact.png') }}">
						</div>
						<div class="w-2/3 ml-4 sm:w-full">
							<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">
								{{pokemon.name.fr}}
								est un Pokémon de type
								{% for type in pokemon.types %}
									<strong>{{ type.name }}</strong>
									{% if not loop.last %}
										/
									{% endif %}
								{% endfor %}
							</p>
							<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">Il possède
								{% if pokemon.talents|length > 1 %}
									les talents
								{% else %}
									le talent
								{% endif %}
								{% for talent in pokemon.talents %}
									<strong>{{talent.name}}</strong>
									{% if not loop.last %}
										,
									{% endif %}
								{% endfor %}
							</p>
							{% if pokemon.evolution %}
								<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">
									Ce Pokémon est
									<strong>évolutif !</strong>
									{% if pokemon.evolution.pre %}
										Il est l'évolution de
										{% for preEvo in pokemon.evolution.pre %}
											<strong>{{ preEvo.name }}</strong>
											{% if not loop.last %}
												et de
											{% endif %}
										{% endfor %}
									{% endif %}
								</p>
								{% if pokemon.evolution.next %}
									<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">
										Son évolution est
										{% for nextEvo in pokemon.evolution.next %}
											<strong>{{ nextEvo.name }}</strong>
											{% if not loop.last %}
												puis
											{% endif %}
										{% endfor %}
									{% endif %}
								</p>
								{% if pokemon.evolution.mega %}
									<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">
										La légende raconte même qu'il peut
										<strong>méga-évoluer !</strong>
									</p>
								{% endif %}
							{% else %}
								<p class="mt-2 mb-2 lg:text-lg md:text-base sm:text-sm">
									Ce Pokémon ne possède pas d'évolution.
								</p>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="flex flex-wrap mt-4 justify-center">
					<div class="w-full md:w-1/4 flex justify-center items-center mb-4 md:mb-0 md:ml-8">
						<img src="{{ pokemon.sprites.regular }}" alt="Pokemon Image" class="w-2/3 md:w-full">
					</div>
					<div class="w-full md:w-1/2 flex flex-col justify-center items-center">
						<h2 class="text-center font-bold text-xl">Statistiques :</h2>
						<table class="mt-6 mx-auto text-sm font-bold border-collapse border border-gray-500 w-full md:w-2/3">
							<thead>
								<tr>
									<th class="border border-gray-500 p-2 md:p-4">PV</th>
									<th class="border border-gray-500 p-2 md:p-4">ATK</th>
									<th class="border border-gray-500 p-2 md:p-4">DEF</th>
									<th class="border border-gray-500 p-2 md:p-4">ATK_SPE</th>
									<th class="border border-gray-500 p-2 md:p-4">DEF_SPE</th>
									<th class="border border-gray-500 p-2 md:p-4">VIT</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.hp }}</td>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.atk }}</td>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.def }}</td>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.spe_atk }}</td>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.spe_def }}</td>
									<td class="border border-gray-500 p-2 md:p-4">{{ pokemon.stats.vit }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="flex flex-wrap justify-center md:space-x-10 lg:space-x-10 my-11">
					{% if pokemon.sprites.shiny %}
						<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
							<h2 class="font-bold mt-4">Forme Shiny</h2>
							<img class="w-2/3 mt-4 mb-4" src="{{ pokemon.sprites.shiny }}" alt="Shiny Pokemon Image">
						</div>
					{% endif %}

					{% if pokemon.sprites.gmax %}
						<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
							<h2 class="font-bold mt-4">Forme GMAX</h2>
							<img class="w-2/3 mt-4 mb-4" src="{{ pokemon.sprites.gmax.regular }}" alt="GMAX Pokemon Image">
						</div>
						<div class="border border-dashed border-black shadow-md rounded flex flex-col items-center w-full md:w-full lg:w-1/4 mb-4">
							<h2 class="font-bold mt-4">Forme GMAX Shiny</h2>
							<img class="w-2/3 mt-4 mb-4" src="{{ pokemon.sprites.gmax.shiny }}" alt="Shiny GMAX Pokemon Image">
						</div>
					{% endif %}
				</div>


				<div class="my-[50px]">
					<a href={{path('app_all_pokemon')}} class="font-bold border bg-black border-black rounded text-amber-400 px-8 py-4">
						Retour à la liste des Pokémons
					</a>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
