<div id="accordion" data-controller="accordion" class="overflow-hidden">
	<h2 id="accordion-1">
		<button type="button" class="text-white flex items-center justify-between w-50 px-3 mb-2 mt-[-5px] font-medium bg-transparent focus:outline-none hover:bg-transparent focus:ring-0 active:bg-transparent" aria-expanded="true" aria-controls="accordion-body-1">
			<span class="font-bold text-white">Recherche avancée</span>
			<svg class="ml-2 w-4 h-4 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
			</svg>
		</button>
	</h2>
	<div id="accordion-body-1" class="hidden p-3 bg-gray-50 rounded-lg" aria-labelledby="accordion-1">
		<h3 class="font-bold text-grey-500 mb-4 ml-3 text-xl">Type :</h3>
		<div class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-9 gap-3">
			{% set typeDisplayed = [] %}
			{% for type in pokemonTypes %}
				{% if type.image not in typeDisplayed %}
					<a href="{{ path('app_pokemon_type', { 'type': type.name }) }}" class="flex flex-col items-center space-y-2 p-2 rounded-lg">
						<img src="{{ type.image }}" alt="{{ type.name }}" class="w-12 h-12 md:w-10 md:h-10 sm:w-8 sm:h-8 rounded-lg">
						<span class="text-gray-800  text-xs md:text-sm lg:text-base font-medium text-center">{{ type.name }}</span>
					</a>
					{% set typeDisplayed = typeDisplayed | merge([type.image]) %}
				{% endif %}
			{% endfor %}
		</div>

		<h3 class="font-bold text-grey-500 my-4 ml-3 text-xl">Génération :</h3>
		<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-2 place-items-center">
			{% for generation in generations %}
				<a href="{{ path('app_pokemon_gen', { 'generation': generation }) }}" class="flex flex-col items-center space-y-2 p-2">
					<span class="text-center text-xs md:text-sm lg:text-base font-medium bg-black text-amber-400 py-1 md:py-2 px-4 md:px-5 rounded-lg">
						Génération
						{{ generation }}
					</span>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
