<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="{% block meta_description %}PixelDatas est un site web qui vous permet de retrouver toutes les informations sur les Pokémons.{% endblock %}">
		<meta name="author" content="PixelDatas">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="{% block meta_keywords %}Pokémon, Jeux vidéo, Nintendo, Game Freak, PixelDatas{% endblock %}">
		<meta
		name="view-transition">

		{# Open Graph / Facebook #}
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta property="og:title" content="{% block og_title %}{% block title %}PixelDatas{% endblock %}{% endblock %}">
		<meta property="og:description" content="{% block og_description %}{{ block('meta_description') }}{% endblock %}">
		<meta
		property="og:image" content="{% block og_image %}{{ absolute_url(asset('icons/emojione-v1/lightning-mood.svg')) }}{% endblock %}">

		{# Twitter #}
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="{{ app.request.uri }}">
		<meta property="twitter:title" content="{{ block('og_title') }}">
		<meta property="twitter:description" content="{{ block('og_description') }}">
		<meta
		property="twitter:image" content="{{ block('og_image') }}">

		{# Canonical URL #}
		<link rel="canonical" href="{% block canonical_url %}{{ app.request.uri }}{% endblock %}">

		<title>{{ block('title') }}</title>
		<link rel="icon" href="{{ asset('icons/emojione-v1/lightning-mood.svg') }}" type="image/svg+xml">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="min-h-screen flex flex-col">
		{% block body %}
			{% include "shared/_navbar.html.twig" %}
			<main class="flex-grow">
				{% block flashes %}
					<div class="container mx-auto px-4">
						{% include "shared/_flash.html.twig" %}
					</div>
				{% endblock %}
				{% block content %}{% endblock %}
			</main>
			{% include "shared/_footer.html.twig" %}
			{% include "shared/_back_to_top.html.twig" %}
		{% endblock %}
	</body>
</html>
