<nav class="bg-gray-900 text-amber-400">
	<div
		class="flex items-center justify-between p-2 mx-auto">
		<!-- Logo + Accueil -->
		<div class="flex items-center ml-5 md:ml-10">
			<a href="{{ path('app_home') }}" class="flex items-center retour-lien">
				<twig:ux:icon name="emojione-v1:lightning-mood" class="w-auto h-10 mt-2" alt="Logo" fetchpriority="high"/>
				<span class="text-xl font-semibold whitespace-nowrap dark:text-white ml-2">Accueil</span>
			</a>

			<!-- Menu Desktop -->
			<div class="hidden md:flex items-center ml-5 md:ml-10">
				<ul class="flex items-center space-x-4">
					<li>
						<a href="{{ path('app_pokemons') }}" class="text-xl font-semibold retour-lien p-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
							Pokédex
						</a>
					</li>
					<li>
						<a href="{{ path('app_comparison') }}" class="flex items-center gap-2 text-xl font-semibold retour-lien p-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent relative" title="Comparateur">
							<twig:ux:icon name="icon-park-outline:ranking" class="size-6"/>
							{% if app.session.get('comparison')|length > 0 %}
								<span class="absolute top-2 right-1 inline-flex items-center justify-center px-1.5 py-0.5 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">
									{{ app.session.get('comparison')|length }}
								</span>
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="md:hidden ml-auto flex items-center gap-4">
			<a href="{{ path('app_comparison') }}" class="relative text-amber-400 hover:text-white" title="Comparateur">
				<twig:ux:icon name="icon-park-outline:ranking" class="size-[1.40rem]"/>
				{% if app.session.get('comparison')|length > 0 %}
					<span class="absolute -top-1 -right-1 inline-flex items-center justify-center px-1.5 py-0.5 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">
						{{ app.session.get('comparison')|length }}
					</span>
				{% endif %}
			</a>

			<button id="menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-amber-400 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-amber-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
				<span class="sr-only">Menu principal</span>
				<twig:ux:icon name="pajamas:hamburger" class="size-8"/>
			</button>
		</div>
	</div>

	<div id="mobile-menu" class="hidden transition-all duration-300 ease-in-out md:hidden px-4 pb-4">
		<ul class="flex flex-col space-y-4 text-right">
			<li>
				<a href="{{ path('app_pokemons') }}" class="retour-lien py-2 px-3 rounded hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 uppercase">
					Pokédex
				</a>
			</li>
		</ul>
	</div>
</nav>
